{%- comment -%} JSON-LD Article schemas for Medium summaries {%- endcomment -%}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "Article",
      "headline": "The Ten Maturity Principles of DevOps Tooling",
      "author": {"@type": "Person", "name": "{{ site.name }}"},
      "datePublished": "2024-07-23",
      "url": "https://medium.com/@m.h.azaddel/the-ten-maturity-principles-of-devops-tooling-89413afc28c0",
      "mainEntityOfPage": "https://medium.com/@m.h.azaddel/the-ten-maturity-principles-of-devops-tooling-89413afc28c0"
    },
    {
      "@type": "Article",
      "headline": "Ansible Code Testing – Part 2 – Writing Tests",
      "author": {"@type": "Person", "name": "{{ site.name }}"},
      "datePublished": "2022-07-10",
      "url": "https://medium.com/@m.h.azaddel/ansible-code-testing-part-2-writing-tests-9bed51134e08",
      "mainEntityOfPage": "https://medium.com/@m.h.azaddel/ansible-code-testing-part-2-writing-tests-9bed51134e08"
    },
    {
      "@type": "Article",
      "headline": "Ansible Code Testing – Part 1 – Test Environment Automation",
      "author": {"@type": "Person", "name": "{{ site.name }}"},
      "datePublished": "2022-06-10",
      "url": "https://medium.com/@m.h.azaddel/ansible-code-testing-part-1-test-environment-automation-36f3983d9c2f",
      "mainEntityOfPage": "https://medium.com/@m.h.azaddel/ansible-code-testing-part-1-test-environment-automation-36f3983d9c2f"
    }
  ]
}
</script>
